#IDE
/nbproject
/.idea

#Magento
/www/*
!/www/composer.json
!/www/composer.lock
!/www/auth.json
!/www/app
/www/app/.htaccess
/www/app/autoload.php
/www/app/bootstrap.php
/www/app/functions.php
!/www/app/etc
/www/app/etc/*
!/www/app/etc/config.php

#robots
!/www/robots.sample.txt
